@{
    Layout = "~/Views/Shared/_CompleteLayout.cshtml";
}

<div>
    <h2>Order Complete</h2>
    <p>Your order is now complete and we have received payment from Paypal</p>    
    <p>An email has been sent confirming the order and you should received this shortly</p>
    <p>Thankyou for ordering from @System.Configuration.ConfigurationManager.AppSettings["companyName"]</p>
</div>