@{
    Layout = "~/Views/Shared/_CompleteLayout.cshtml";
}


<h2>Payment Cancelled</h2>
<p>Payment for your order was cancelled from the Paypal checkout.</p>

<p><a href="@Url.Content("~")">Go here</a> to re-order</p>